@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin', sans-serif;
}

body{
    background: #1A1423;
    color: aliceblue;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(48, 13, 80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 30px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;  
    font-weight: 600;
    margin-left: 35px;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: #7691f2;
}

.home{
    height: 75vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    background: transparent;
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.home-content p{
    font-size: 16px;
}


footer{
    background: #1A1423;
}
.footer-sci{
    position: relative;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.footer-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 50%;
    font-size: 35px;
    color: aliceblue;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.footer-sci a:hover{
    color: #774C60;
}
.footer-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    left: 0;
    height: 100%;
    background: transparent;
    z-index: -1;
    transition: .5s;
}
.footer-sci a:hover:before{
    width: 100%;
}